In [3]:
import pandas as pd
from pathlib import Path 
csv_file=Path('budget_data.csv')
data=pd.read_csv(csv_file)
data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [4]:
##The total number of months included in the dataset.
number_month=data.count()
number_month=number_month.Date
print(number_month)

86

In [5]:
##The net total amount of Profit/Losses over the entire period.
total=data.sum()
total=total['Profit/Losses']
print(total)

38382578

In [6]:
##The average of the changes in Profit/Losses over the entire period.
data_PnL=data[['Profit/Losses']]
data_PnL.head()
data_diff=data_PnL.diff(periods=1, axis=0)
avg_change=data_diff.mean()
avg_change=avg_change['Profit/Losses']
print(avg_change)

-2315.1176470588234

In [7]:
##The greatest increase in profits (date and amount) over the entire period.
max_increase=data_diff.max()
max_increase=max_increase['Profit/Losses']
print(max_increase)

1926159.0

In [19]:
location=data_diff.loc[data_diff['Profit/Losses']==max_increase]
value_max=location
value_max

    Profit/Losses
25      1926159.0

In [12]:
date_max=data.iloc[25,:]
date_max.head()
date_max=date_max.Date
date_max

'Feb-2012'

In [138]:
##The greatest decrease in losses (date and amount) over the entire period.
max_decrease=data_diff.min()
max_decrease=max_decrease['Profit/Losses']
print(max_decrease)

-2196167.0

In [139]:
location=data_diff.loc[data_diff['Profit/Losses']==max_decrease]
value_min=location
value_min

    Profit/Losses
44     -2196167.0

In [140]:
date_min=data.iloc[44,:]
date_min.head()
date_min=date_min.Date
date_min

'Sep-2013'

In [145]:
f = open('output_hw_2_AO.txt','w')
f.write("Financial Analysis\n")
f.write("---------------------------------\n")
f.write("Total Months: ")    
f.write('{}'.format(number_month))
f.write("\nTotal: $")    
f.write('{}'.format(total))
f.write("\nAverage  Change: $")    
f.write('{}'.format(avg_change))
f.write("\nGreatest Increase in Profits: ")   
f.write('{}'.format(date_max))
f.write(" ($")   
f.write('{}'.format(max_increase))
f.write(")")  
f.write("\nGreatest Decrease in Profits: ")   
f.write('{}'.format(date_min))
f.write(" ($")  
f.write('{}'.format(max_decrease))
f.write(")")  
f.close()

In [146]:
f = open('output_hw_2_AO.txt', 'r')
FinalcialAnalysis = f.read()
print (FinalcialAnalysis)
f.close()

Financial Analysis
---------------------------------
Total Months: 86
Total: $38382578
Average  Change: $-2315.1176470588234
Greatest Increase in Profits: Feb-2012 ($1926159.0)
Greatest Decrease in Profits: Sep-2013 ($-2196167.0)